<div class="groups-container">
  <nav class="nav-container fixed">
    <div class="nav transactions-nav">
      <%= link_to groups_path do %>
        <i class="fa-light fa-backward back" style="font-family: FontAwesome;"></i>
      <% end  %>
      <h1 class="register text-font bold">Create a new Group</h1>
    </div>
  </nav>

  <%= form_with model: @group, html: {class: "new-group groups"}, method: :post do |f| %>
    <div class="field">
      <%= f.text_field :name, autofocus: true, autocomplete: "email", placeholder: "Name", class: 'input' %>
    </div>

    <div class="field">
      <%= f.text_field :icon,  placeholder: "Icon", class: 'input' %>
    </div>



    <button type="submit" class="save-group">Save</button>

  <% end %>

</div>
