<div class="groups-container">
  <nav class="nav-container fixed">
    <div class="nav transactions-nav">
      <img class="ham-burger" src="" alt="">
      <h1 class="register text-font bold">Create a new Group</h1>
    </div>
  </nav>

  <%= form_with model: @group, html: {class: "new-group groups"}, method: :post do |f| %>
    <div class="field">
      <%= f.text_field :name, autofocus: true, autocomplete: "email", placeholder: "Name", class: 'input' %>
    </div>

    <div class="field">
      <%= f.text_field :icon,  placeholder: "Icon", class: 'input' %>
    </div>

    <button type="submit" class="save-group">Save</button>

  <% end %>

</div>
