<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="registeration-container"></div>

    <nav class="navigation">
      <i class="fa-light fa-backward back" style="font-family: FontAwesome"></i>
      <h1 class="regiser">Register</h1>
      <h1></h1>
    </nav>
    <div class="home-page flex justify-center align-center">
      <h1>Budget App</h1>
      <div class="authentication">
        <button>LOG IN</button>
        <button>SIGN UP</button>
      </div>
    </div>

    <div class="groups">
      <div class="each-group">
        <img src="" alt="" />
        <div class="info">
          <h1 class="info-title">Mac donalds Fastfood</h1>
          <p class="info-date">12 Apr 2022</p>
        </div>
        <p class="total-deposit">$17.00</p>
      </div>
    </div>

    <div class="new">
      <button class="new-button">New</button>
    </div>

    <button class="save-group">Save</button>

    <div class="transactions-container">
      <div class="each-transaction">
        <div class="info">
          <img src="" alt="" class="group-image" />
        </div>
      </div>
    </div>
    <hr />
    <img src="" alt="" />
  </body>
</html>
