/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";

* {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

html {
  height: 100vh;
}

:root {
  --blue: #3778c2;
  --green: #5fb523;
  --black: #434b54;
}

.flex {
  display: flex;
}

hr {
  width: 90%;
  margin: 0 auto;
}

.checks {
  margin: 1rem auto;
  width: 90%;
  border: none !important;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.checks label {
  width: calc(100% - 25px);
  margin-left: 4px;
}

.check-groups {
  overflow-y: auto;
  max-height: 108px;
  margin-top: 24px;
}

.check-groups > label:nth-child(1) {
  width: 100% !important;
  margin: 0;
  margin-top: -24px;
  position: fixed;
  z-index: 100;
}

a {
  -webkit-tap-highlight-color: transparent;
}

.text-font {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
}

.bold {
  font-weight: 700;
}

.thin {
  font-weight: 300;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}
