<% if user_signed_in? %>
  <h1>SALAM</h1>
  BISMILLAH
  you are now seeing all yuor transactions
<% end  %>
  you are now seeing all yuor transactions
  <%= button_to 'LOG OUT', destroy_user_session_path, method: :delete %>
